*{
  font-family: Consolas,monaco,monospace; 
}
/*------Header--------*/
#head-main{
  width: 100%;
  overflow: hidden;
}
a{
  color: black;
}
.head-logo{
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
}

#logo-txt{
  margin-left: 10px;
  margin-top: 10px;
  
}
#head-lnk{
        border: solid black 1px;
	    background-color: white;
	    width: 100%;
      box-sizing: border-box;
      padding: 15px;
}
.lnk{
  margin: 10px;
  font-size: 20px;

}
.search-bar{
  box-sizing: border-box;
  margin: 30px;
  flex:1;
  text-align: end;
}
.search-bar>input{
  border: none;
}
.search-btn{
  border: none;
  padding: 5px;
}
.search-btn:Hover{
  opacity: 0.5;
}

/*-------Footer--------*/
footer{
  

  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-top:solid 1px black ;
}
.fot{
  opacity: 0.6;
  flex: 1 ;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.signup-form{
  align-content: center;
  border: 1px solid green;
  background: #86f4c1;
  display: block;
  position: relative;
  padding: 20px;
}
.frm{
  box-sizing: 10px;
  padding: 10px;
  text-align: center;
}
.signup-btn{
  border-style: hidden;
  background-color: tomato;
  margin: 5px;
  color: white;
}

#product-section{
  width: 100%;
  margin-right: -10px;
  display: flex;
}
#product-box{

  border: solid black 0.5px;
  box-sizing: border-box;
  margin: 20px;
  margin-right: 9.5px;
  text-align: center;
  padding: 10px;

}
#product-template{
    display:flex;
    justify-content:center; 
    flex-flow:column;
    align-items:center;
}

#home-top{
  background-image: url(../images/cover.jpg);
  display: flex;
  overflow: auto;
  justify-content: space-between;
  padding: 50px;

}
.pun{
  text-align: center;
  font-size: 30px;
}

#home-top-first{
  border: solid  black;
  justify-content:center;
  margin: 20px;
  padding: 50px;
}
.sign-up{
  border: oldlace;
}
#home2{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}
.news-letter{
  font-size: 15px;
  width: 100%;
  box-sizing:border-box;
  text-align: center;
  margin: 5px;
} 
.news-letter>input,button{
  border: solid 1px black;
}
.dis-offer{
  background-image: url(../images/shirt1.jpg);
  background-color: rgb(195, 191, 191);
  color: white ;
  padding: 50px;
  text-align: justify;
  height: 250;
  width: 450px;
}
.dis-btn{
  border: none;
  border-radius: 5px;
}


.ind-main{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; 
}
.ind-right{
  margin: 2px;
  margin-top:6.3px ;
  float: right;
}
.ind-both{
  display: flex;
}
.ind1,.ind2,.ind3,.ind4,.ind5{ 
transition: transform 1.5s ease;
}
.ind1:hover, .ind2:hover, .ind3:hover, .ind4:hover, .ind5:hover{
  transform: scale(0.9);
}