#head-main{
  border: thin black;
  background-color:powderblue;
  border-bottom: solid black;
}
#head-btn{
  margin-top: 3px;
  float: right;
}
table{
  border:1px solid black;
  text-align: center;
  background-color:powderblue;
}
#product-section{
  
  width: 100%;
  margin-right: -10px;
  border-top:solid black ;
}
#product-box{

  border: solid black 0.5px;
  box-sizing: border-box;
  float: left;
  margin: 20px;
  margin-right: 9.5px;
  text-align: center;

}