#head-main{
  border: thin black;
  background-color:powderblue;
  border-bottom: solid black;
}
#head-btn{
  margin-top: 3px;
  float: right;
}
#fot-main{
  background-color: powderblue;
  display: table;
  width: 100%;
  margin-right: -5px;
  border-top:solid black ;

}
.fot{
  box-sizing: border-box;
  float: left;
  padding: 10px;
  margin-right: 9.5px;
  }